<!DOCTYPE html>
<html lang="es">
  <head>
	<%- include('./partials/head'); %>
  </head>
  <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
	  
	<!--*This is the navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar ftco-navbar-light site-navbar-target" id="ftco-navbar">
	    <%- include('./partials/nav')  %> 
	  </nav>

	<!--*This is the home section-->
	  <section id="home-section" class="hero">
		  <%- include('./sections/home')  %> 
    </section>

	<!--*This is the about section-->
    <section class="ftco-about img ftco-section ftco-no-pb" id="about-section">
    	<%- include('./sections/about')  %> 
    </section>

	<!--*This is the resume section-->
    <section class="ftco-section ftco-no-pb" id="resume-section">
		  <%- include('./sections/resume')  %> 
    </section>

	<!--*This is the services section-->
    <section class="ftco-section" id="services-section">
		  <%- include('./sections/services')  %> 
    </section>

	<!--*This is the skills section-->	
	  <section class="ftco-section" id="skills-section">
		  <%- include('./sections/skills')  %> 
	  </section>
 
	<!--*This is the projects section-->
    <section class="ftco-section ftco-project" id="projects-section">
      <%- include('./sections/projects')%>
    </section>

	<!--*This is contact section-->
    <section class="ftco-section contact-section ftco-no-pb" id="contact-section">
		  <%- include('./sections/contacts')  %> 
    </section>

	
  <!--*This is the footer-->
    <footer class="ftco-footer ftco-section">
        <%- include('./partials/footer'); %>
    </footer>
    
  

  <!-- loader -->
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>


  <script src="js/jquery.min.js"></script>
  <script src="js/jquery-migrate-3.0.1.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/jquery.easing.1.3.js"></script>
  <script src="js/jquery.waypoints.min.js"></script>
  <script src="js/jquery.stellar.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.magnific-popup.min.js"></script>
  <script src="js/aos.js"></script>
  <script src="js/jquery.animateNumber.min.js"></script>
  <script src="js/scrollax.min.js"></script>  
  <script src="js/main.js"></script>
  
  </body>
</html>